<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    
</head>
<body>
    <div class="login-page">
    <h3>LOGIN</h3>
    <h2>GROUP 5's postgreSQL</h2>
    <form action="/login" method="post">
        <div class="container">
            <h3>Username:</h3>
            <input type="text" name="Username"  placeholder="Enter your Username"  required>
            <h3>Password:</h3>
            <input type="password" name="Password"  placeholder="Enter your password" required>
            <input type="submit" value="Submit" class="submit-btn">
        </div>
    </form>
    <form action="/signup" method="get">
        <h4>New to our website:</h4>
        <button type="submit" class="signup-btn">Sign up now</button>
    </form>
    </div>
    
</body>
</html>