<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="styles/sub.css">

</head>
<body>
    <form action="/register" method="post">
        <div class="container">
            <h3>Username:</h3>
            <input type="text" name="Username"  placeholder="Enter your Username to register"  required>
            <h3>Password:</h3>
            <input type="password" name="Password"  placeholder="Enter your password"  required>
            <h3>Re enter your Password:</h3>
            <input type="password" name="Passwordag" placeholder="re enter your password" required>
            <input type="submit">
        </div> 
    </form>
    
</body>
</html>